@font-face {
    src: url(goodTimes.otf);
    font-family: space;
}

body {
    color: #5774B3;
    text-align: center;
    font-family: space;
    margin: 0;
}

#hero {
    background-image: url("BlackHole.webp");
    background-size: cover;
    background-position: center;
    padding: 10px 0 50px 0;
}

#main {
    text-shadow: 0 0 4px black;
}

.btn {
    background: white;
    border: none;
    padding: 8px 16px;
    font-family: inherit;
    font-weight: bold;
    color: #5774B3;
    box-shadow: 0 0 5px black;
}

.underline {
    border-bottom: 4px solid white;
}

#logo {
    width: 200px;
}